.boton
{
    -fx-background-color:   #013E88
}

.boton:hover{

    -fx-background-color: #0057C0

}

.boton:pressed{

-fx-background-color: #0154BA
}

.botonSel{

-fx-background-color: #1965C0;
-fx-border-color:#ffff;
-fx-border-width: 0px 0px 0px 3px;

}


/*
.column-header{

-fx-background-color:  #013E88;
-fx-text-fill:#4C615E;

}*/

.textPrompt {
-fx-prompt-text-fill:#4C615E;

}

.texto{

 -fx-alignment: center ;
}

