.label
{
    -fx-background-color:  #ffff;
    -fx-text-fill: #c7c0c0;
}

.label:hover{

    -fx-background-color: #FF0000;
    -fx-text-fill: #ffff;
}


#cierre
{
    -fx-background-color:  #ffff;
    -fx-text-fill: #c7c0c0;
}

#cierre:hover{

    -fx-background-color: #FF0000;
    -fx-text-fill: #ffff;
}